In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
pd.options.display.max_rows=10
pd.options.mode.chained_assignment = None

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
def add_travel_vector_features(df):
    df['abs_diff_longitude'] = (df.dropoff_longitude - df.pickup_longitude).abs()
    df['abs_diff_latitude'] = (df.dropoff_latitude - df.pickup_latitude).abs()
    df['abs_dist_travel'] = df.abs_diff_longitude + df.abs_diff_latitude

In [3]:
def add_loc_bias_feature(df):
    lat_mean=40.75
    long_mean=-73.97
    df['up_diff_center'] = np.sqrt((df.pickup_latitude-lat_mean)**2 + (df.pickup_longitude-long_mean)**2)
    df['off_diff_center'] = np.sqrt((df.dropoff_latitude-lat_mean)**2 + (df.dropoff_longitude-long_mean)**2)

In [4]:
def add_time_features(df):
    timecol=pd.to_datetime(df['pickup_datetime'],infer_datetime_format=True)
    df['pickup_year'] = timecol.dt.year
    df['pickup_hour'] = timecol.dt.hour

In [5]:
def get_input_matrix(df):
    return (np.column_stack((np.ones(len(df)), df.abs_diff_longitude, df.abs_diff_latitude, df.abs_dist_travel, df.up_diff_center, df.off_diff_center, df.pickup_year, df.pickup_hour)),df.fare_amount.values.reshape((df.shape[0],1)))

In [6]:
def train_weight(df_train):
    df_train=df_train.dropna(how = 'any', axis = 'rows')
    df_train=df_train[(df_train.pickup_latitude>39)&
                      (df_train.pickup_latitude<42)&
                      (df_train.pickup_longitude>-74.5)&
                      (df_train.pickup_longitude<-72)&
                      (df_train.dropoff_latitude>39)&
                      (df_train.dropoff_latitude<42)&
                      (df_train.dropoff_longitude>-74.5)&
                      (df_train.dropoff_longitude<-72)&
                      (df_train.fare_amount > 0)&
                      (df_train.passenger_count > 0)]
    add_travel_vector_features(df_train)
    add_loc_bias_feature(df_train)
    add_time_features(df_train)
    
    train_X,train_y = get_input_matrix(df_train.iloc[0:df_train.shape[0]*9//10,:])
    valid_X,valid_y = get_input_matrix(df_train.iloc[df_train.shape[0]*9//10:,:])
    
    (w_lsr, _, _, _) = np.linalg.lstsq(train_X, train_y, rcond = None)
    w_lsr=w_lsr.reshape(len(w_lsr),1)
    valid_y_est = np.matmul(valid_X, w_lsr).round(decimals = 2)
    RMSE_lsr=((valid_y-valid_y_est) ** 2).mean() ** .5
    print('RMSE = '+str(RMSE_lsr))
    return w_lsr, RMSE_lsr

In [7]:
df_test=pd.read_csv('../input/test.csv')
chunker = pd.read_csv('../input/train.csv',chunksize=200000)
W=np.zeros((8,0))
E=np.zeros((1,0))
i=1

In [8]:
for piece in chunker:
    print('Piece: '+ str(i))
    w,e = train_weight(piece)
    W = np.c_[W,w]
    E = np.c_[E,e]
    i += 1

Piece: 1
RMSE = 5.638389770647216
Piece: 2
RMSE = 6.03102568085073
Piece: 3
RMSE = 5.823117706232769
Piece: 4
RMSE = 5.4309840271538
Piece: 5
RMSE = 5.712058309511129
Piece: 6
RMSE = 5.437167054804181
Piece: 7
RMSE = 5.518291811337159
Piece: 8
RMSE = 5.427126622474414
Piece: 9
RMSE = 5.420534411539426
Piece: 10
RMSE = 5.180118018362579
Piece: 11
RMSE = 5.939887049133567
Piece: 12
RMSE = 6.364219220569886
Piece: 13
RMSE = 5.665275093120925
Piece: 14
RMSE = 5.5805350053477225
Piece: 15
RMSE = 4.974963722213174
Piece: 16
RMSE = 5.888458549358139
Piece: 17
RMSE = 5.704377631880081
Piece: 18
RMSE = 5.261232730418779
Piece: 19
RMSE = 5.304928519461461
Piece: 20
RMSE = 5.576208075696302
Piece: 21
RMSE = 5.626537245839204
Piece: 22
RMSE = 5.803616456341846
Piece: 23
RMSE = 5.279382313601138
Piece: 24
RMSE = 5.905086376184509
Piece: 25
RMSE = 5.737301159850406
Piece: 26
RMSE = 5.524442624190085
Piece: 27
RMSE = 5.991845102019688
Piece: 28
RMSE = 5.9913493103855275
Piece: 29
RMSE = 6.169538408809303
Piece: 30
RMSE = 4.875252204154104
Piece: 31
RMSE = 5.974131064790494
Piece: 32
RMSE = 5.262932800020016
Piece: 33
RMSE = 5.4117092159789
Piece: 34
RMSE = 5.157777062849796
Piece: 35
RMSE = 5.547889743942053
Piece: 36
RMSE = 5.099815273251882
Piece: 37
RMSE = 5.383392889090327
Piece: 38
RMSE = 6.888994878864815
Piece: 39
RMSE = 5.838346183144703
Piece: 40
RMSE = 5.826985741966062
Piece: 41
RMSE = 5.71559820505379
Piece: 42
RMSE = 5.65603161955973
Piece: 43
RMSE = 5.128472673144097
Piece: 44
RMSE = 6.091230799234779
Piece: 45
RMSE = 5.459521992779559
Piece: 46
RMSE = 5.727209200890887
Piece: 47
RMSE = 5.897291975542465
Piece: 48
RMSE = 5.114418956144547
Piece: 49
RMSE = 5.92938558676252
Piece: 50
RMSE = 5.238943503994616
Piece: 51
RMSE = 6.267684741583293
Piece: 52
RMSE = 4.908420638120577
Piece: 53
RMSE = 5.8970472634655575
Piece: 54
RMSE = 5.638145253389539
Piece: 55
RMSE = 5.110149173051892
Piece: 56
RMSE = 5.749759077932392
Piece: 57
RMSE = 6.247844421063763
Piece: 58
RMSE = 5.918834154637423
Piece: 59
RMSE = 6.070224100164431
Piece: 60
RMSE = 6.754745294626971
Piece: 61
RMSE = 5.735148975916395
Piece: 62
RMSE = 5.350492093396531
Piece: 63
RMSE = 5.784070619743577
Piece: 64
RMSE = 5.218615508102374
Piece: 65
RMSE = 5.726733201647989
Piece: 66
RMSE = 5.9091214951392645
Piece: 67
RMSE = 5.953595172897318
Piece: 68
RMSE = 5.454632760429916
Piece: 69
RMSE = 5.374222534980829
Piece: 70
RMSE = 6.121875792635119
Piece: 71
RMSE = 5.320265224367803
Piece: 72
RMSE = 5.426525762429867
Piece: 73
RMSE = 5.472403633402237
Piece: 74
RMSE = 4.995239050514133
Piece: 75
RMSE = 5.12355240829937
Piece: 76
RMSE = 6.250393580638544
Piece: 77
RMSE = 5.522642659034506
Piece: 78
RMSE = 5.629985116812105
Piece: 79
RMSE = 4.871674484354543
Piece: 80
RMSE = 5.439877872880156
Piece: 81
RMSE = 5.133455974772477
Piece: 82
RMSE = 5.16433265475706
Piece: 83
RMSE = 5.207097812098082
Piece: 84
RMSE = 6.648324636778432
Piece: 85
RMSE = 5.838912409446822
Piece: 86
RMSE = 5.610104996379316
Piece: 87
RMSE = 5.819426395257312
Piece: 88
RMSE = 5.5667776719939654
Piece: 89
RMSE = 4.9568883293052615
Piece: 90
RMSE = 6.411966390170534
Piece: 91
RMSE = 5.616524668509872
Piece: 92
RMSE = 5.172062306174339
Piece: 93
RMSE = 15.382148384213357
Piece: 94
RMSE = 5.467124880566462
Piece: 95
RMSE = 6.153096424009354
Piece: 96
RMSE = 5.112702259531982
Piece: 97
RMSE = 5.624484483480358
Piece: 98
RMSE = 5.757517086290189
Piece: 99
RMSE = 6.510878962690312
Piece: 100
RMSE = 5.765533748451229
Piece: 101
RMSE = 5.296591747638279
Piece: 102
RMSE = 6.267251673135242
Piece: 103
RMSE = 5.775647014066135
Piece: 104
RMSE = 5.9970986524607515
Piece: 105
RMSE = 5.669434086416144
Piece: 106
RMSE = 5.003369061222052
Piece: 107
RMSE = 4.993782355890829
Piece: 108
RMSE = 6.034380990161811
Piece: 109
RMSE = 5.3305423353471975
Piece: 110
RMSE = 5.309785120224534
Piece: 111
RMSE = 5.216539397075612
Piece: 112
RMSE = 5.8564162383358465
Piece: 113
RMSE = 5.554705925155625
Piece: 114
RMSE = 5.248626354043999
Piece: 115
RMSE = 4.818723773027253
Piece: 116
RMSE = 5.379620466877198
Piece: 117
RMSE = 5.478942397431235
Piece: 118
RMSE = 5.721295497859197
Piece: 119
RMSE = 5.692019234657317
Piece: 120
RMSE = 5.945632314342059
Piece: 121
RMSE = 5.16321730835584
Piece: 122
RMSE = 5.895873517962744
Piece: 123
RMSE = 5.107483097838989
Piece: 124
RMSE = 5.333975041239511
Piece: 125
RMSE = 5.640386520211709
Piece: 126
RMSE = 5.929798697780827
Piece: 127
RMSE = 5.344727351747711
Piece: 128
RMSE = 5.285996995937256
Piece: 129
RMSE = 5.610185676041349
Piece: 130
RMSE = 5.322293354481553
Piece: 131
RMSE = 5.1915754669440854
Piece: 132
RMSE = 5.981967656729167
Piece: 133
RMSE = 5.730572494532885
Piece: 134
RMSE = 5.199399506541515
Piece: 135
RMSE = 5.537425783411795
Piece: 136
RMSE = 5.940264422748758
Piece: 137
RMSE = 5.290807451551849
Piece: 138
RMSE = 6.3835605961724555
Piece: 139
RMSE = 5.228115692569781
Piece: 140
RMSE = 5.062148470360885
Piece: 141
RMSE = 5.5924691891401475
Piece: 142
RMSE = 4.938188174234391
Piece: 143
RMSE = 5.159067266869355
Piece: 144
RMSE = 5.346220773467425
Piece: 145
RMSE = 5.952310857674226
Piece: 146
RMSE = 5.573749127358914
Piece: 147
RMSE = 5.475479775383585
Piece: 148
RMSE = 5.34590008573769
Piece: 149
RMSE = 6.126182403798343
Piece: 150
RMSE = 5.305627901956407
Piece: 151
RMSE = 6.470726685806623
Piece: 152
RMSE = 5.425626716835898
Piece: 153
RMSE = 5.031762082971214
Piece: 154
RMSE = 6.552603034663359
Piece: 155
RMSE = 6.072696946040709
Piece: 156
RMSE = 5.71395810346543
Piece: 157
RMSE = 5.727026896937746
Piece: 158
RMSE = 5.429896905561316
Piece: 159
RMSE = 5.553795402526422
Piece: 160
RMSE = 5.632848546236334
Piece: 161
RMSE = 4.72716312445513
Piece: 162
RMSE = 5.361339997704794
Piece: 163
RMSE = 5.15733121530879
Piece: 164
RMSE = 6.042248824577609
Piece: 165
RMSE = 5.837326628449437
Piece: 166
RMSE = 6.0698537510292505
Piece: 167
RMSE = 5.873020939662668
Piece: 168
RMSE = 5.5138829085729375
Piece: 169
RMSE = 5.878419300808863
Piece: 170
RMSE = 5.242829393193163
Piece: 171
RMSE = 5.067569625967904
Piece: 172
RMSE = 5.884837007614659
Piece: 173
RMSE = 6.080123313136539
Piece: 174
RMSE = 6.089988884428988
Piece: 175
RMSE = 5.364416790796624
Piece: 176
RMSE = 5.135639596065361
Piece: 177
RMSE = 5.772235922696376
Piece: 178
RMSE = 5.532679366327424
Piece: 179
RMSE = 6.239300298449398
Piece: 180
RMSE = 5.7594137125524005
Piece: 181
RMSE = 5.567939806959539
Piece: 182
RMSE = 5.545794255799301
Piece: 183
RMSE = 5.3449821559297215
Piece: 184
RMSE = 5.8527492938651475
Piece: 185
RMSE = 6.220596913532631
Piece: 186
RMSE = 5.772253666111057
Piece: 187
RMSE = 5.427722990458953
Piece: 188
RMSE = 5.313815401629156
Piece: 189
RMSE = 5.47167780865314
Piece: 190
RMSE = 5.301105851610056
Piece: 191
RMSE = 5.526360238694509
Piece: 192
RMSE = 5.827956139353402
Piece: 193
RMSE = 5.88976090418653
Piece: 194
RMSE = 5.085795857760948
Piece: 195
RMSE = 5.307721810037695
Piece: 196
RMSE = 5.579890611724167
Piece: 197
RMSE = 5.748674094105686
Piece: 198
RMSE = 5.5161649121698115
Piece: 199
RMSE = 5.387497245945989
Piece: 200
RMSE = 4.989097227723211
Piece: 201
RMSE = 5.627201489257097
Piece: 202
RMSE = 5.70436414400779
Piece: 203
RMSE = 5.9505733039162125
Piece: 204
RMSE = 5.310208339323782
Piece: 205
RMSE = 5.52771862359224
Piece: 206
RMSE = 542.1457638158964
Piece: 207
RMSE = 5.5096593395096125
Piece: 208
RMSE = 5.671895073435661
Piece: 209
RMSE = 5.0628299060007915
Piece: 210
RMSE = 5.264667832228359
Piece: 211
RMSE = 5.7661941642393355
Piece: 212
RMSE = 5.403682362076847
Piece: 213
RMSE = 5.482961848815975
Piece: 214
RMSE = 5.114385907375387
Piece: 215
RMSE = 5.154089304050402
Piece: 216
RMSE = 5.952668657502851
Piece: 217
RMSE = 8.455138318418804
Piece: 218
RMSE = 5.372069811331795
Piece: 219
RMSE = 6.1377937272767005
Piece: 220
RMSE = 5.53839353662165
Piece: 221
RMSE = 5.5343888281324745
Piece: 222
RMSE = 5.460468409886282
Piece: 223
RMSE = 5.9057783144658895
Piece: 224
RMSE = 5.726098110366239
Piece: 225
RMSE = 5.393062073478013
Piece: 226
RMSE = 4.939724505723345
Piece: 227
RMSE = 5.85805810988128
Piece: 228
RMSE = 5.511605694361849
Piece: 229
RMSE = 5.474914404766753
Piece: 230
RMSE = 5.0235358344747745
Piece: 231
RMSE = 5.730021633539676

Piece: 232
RMSE = 5.632539673254125
Piece: 233
RMSE = 5.977820403754878
Piece: 234
RMSE = 5.204915666926365
Piece: 235
RMSE = 5.156692081032676
Piece: 236
RMSE = 6.004480280172913
Piece: 237
RMSE = 5.691040309576808
Piece: 238
RMSE = 5.588351725595612
Piece: 239
RMSE = 5.390417341323276
Piece: 240
RMSE = 6.093416354452878
Piece: 241
RMSE = 5.364091765567647
Piece: 242
RMSE = 5.9253981448364215
Piece: 243
RMSE = 6.034701348424739
Piece: 244
RMSE = 5.291176012748869
Piece: 245
RMSE = 5.29861021205592
Piece: 246
RMSE = 6.213938457756349
Piece: 247
RMSE = 5.509603892642242
Piece: 248
RMSE = 5.895180917366362
Piece: 249
RMSE = 5.35081278482392
Piece: 250
RMSE = 5.496017184645833
Piece: 251
RMSE = 5.3607893467156
Piece: 252
RMSE = 5.461925465943391
Piece: 253
RMSE = 5.5029421065814335
Piece: 254
RMSE = 6.053966221581879
Piece: 255
RMSE = 5.132206211134021
Piece: 256
RMSE = 5.758875681352675
Piece: 257
RMSE = 5.869229224209488
Piece: 258
RMSE = 5.4983019120398025
Piece: 259
RMSE = 5.73840656669773
Piece: 260
RMSE = 5.32451002424724
Piece: 261
RMSE = 6.042521307601505
Piece: 262
RMSE = 5.4160085613374545
Piece: 263
RMSE = 5.088321659230163
Piece: 264
RMSE = 5.24334900320512
Piece: 265
RMSE = 5.37009715154281
Piece: 266
RMSE = 5.808766278992663
Piece: 267
RMSE = 5.320926536270555
Piece: 268
RMSE = 5.59711673548223
Piece: 269
RMSE = 5.351590860540666
Piece: 270
RMSE = 5.231301482509109
Piece: 271
RMSE = 5.789155292990305
Piece: 272
RMSE = 5.498714335560113
Piece: 273
RMSE = 5.698227997387795
Piece: 274
RMSE = 5.9618508468486295
Piece: 275
RMSE = 5.478101030913773
Piece: 276
RMSE = 5.9470944363262355
Piece: 277
RMSE = 5.696524806529043
Piece: 278
RMSE = 6.119296681071097

In [10]:
Model={'W': W, 'E': E}
import pickle
with open('ModelParameter_2.p','wb') as fp:
    pickle.dump(Model,fp)

In [20]:
selection=(E<5.5)
selection=selection.reshape((selection.size,))
W_smallerr=W[:,selection]
W_final=np.mean(W_smallerr,axis=1).reshape((W_smallerr.shape[0],1))

In [17]:
np.mean(E[:,selection])

5.255530208711872

In [18]:
W_smallerr.shape

(8, 120)

In [21]:
W_final.shape

(8, 1)

In [22]:
Model={'W': W, 'E': E, 'W_final': W_final}
import pickle
with open('ModelParameter_3.p','wb') as fp:
    pickle.dump(Model,fp)

In [7]:
df_test=pd.read_csv('../input/test.csv')

In [8]:
df_test

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1
...,...,...,...,...,...,...,...
9909,2015-05-10 12:37:51.0000002,2015-05-10 12:37:51 UTC,-73.968124,40.796997,-73.955643,40.780388,6
9910,2015-01-12 17:05:51.0000001,2015-01-12 17:05:51 UTC,-73.945511,40.803600,-73.960213,40.776371,6
9911,2015-04-19 20:44:15.0000001,2015-04-19 20:44:15 UTC,-73.991600,40.726608,-73.789742,40.647011,6
9912,2015-01-31 01:05:19.0000005,2015-01-31 01:05:19 UTC,-73.985573,40.735432,-73.939178,40.801731,6
9913,2015-01-18 14:06:23.0000006,2015-01-18 14:06:23 UTC,-73.988022,40.754070,-74.000282,40.759220,6

In [10]:
add_travel_vector_features(df_test)
add_loc_bias_feature(df_test)
add_time_features(df_test)

df=df_test

test_X=np.column_stack((np.ones(len(df)), df.abs_diff_longitude, df.abs_diff_latitude, df.abs_dist_travel, df.up_diff_center, df.off_diff_center, df.pickup_year, df.pickup_hour))

In [12]:
import pickle
with open('ModelParameter_3.p', 'rb') as handle:
    data = pickle.load(handle)

In [14]:
W_final=data['W_final']

In [20]:
test_y_est = np.matmul(test_X, W_final).round(decimals = 2)

In [21]:
test_y_est.shape

(9914, 1)

In [28]:
submission = pd.DataFrame(
    {'key': df_test.key, 'fare_amount': test_y_est.reshape((len(test_y_est),))},
    columns = ['key', 'fare_amount'])
submission.to_csv('submission_lsr.csv', index = False)

In [27]:
submission

                              key  fare_amount
0     2015-01-27 13:08:24.0000002         9.89
1     2015-01-27 13:08:24.0000003        10.91
2     2011-10-08 11:53:44.0000002         5.65
3     2012-12-01 21:12:12.0000002         8.47
4     2012-12-01 21:12:12.0000003        12.89
...                           ...          ...
9909  2015-05-10 12:37:51.0000002        10.73
9910  2015-01-12 17:05:51.0000001        11.77
9911  2015-04-19 20:44:15.0000001        53.23
9912  2015-01-31 01:05:19.0000005        21.23
9913  2015-01-18 14:06:23.0000006         9.94

[9914 rows x 2 columns]